/*CSS*/

body {
	text-align: center;
	background-color: #58595b;
}

#slot1, #slot2, #slot3{
	display: inline-block;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	background-size: 150px;
	width: 150px;
	height: 150px;
}

table {
	width: 90%;
	padding: 20px 0px 20px 0px;
	border-collapse: collapse;
}

.tableCenter {
	margin-left:auto; 
	margin-right:auto;
}

td {
	margin: 5px;
	width: 10%;
	text-align: center;
	font-size: 16pt;
	vertical-align: top;
}

main {
	display: flex;
	flex-direction: column; /* inhoud onder elkaar */
	align-items: center;    /* horizontaal centreren van inhoud */
	border-radius: 12px;
	background-color: rgb(45, 78, 226);
	margin: 30px auto;      /* 30px van boven en onder, auto voor horizontaal centreren */
	padding: 20px;
	width: 1500px;          /* breedte container */
	box-sizing: border-box; /* padding telt mee in breedte */
}


.slots{
	border-radius: 12px;
	background-color: #58595b;
}

.status{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 12px;
	background-color: rgb(248, 127, 56);
	color: #FFFFFF;
	font-size: 30px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.pokerchip {
	padding: 5px 0px 20px 0px;
	outline: none;


}
.pokerchip:active{
	transform: translateY(4px);
}

.button {
	display: inline-block;
	border-radius: 12px;
	background-color: rgb(248, 127, 56);
	border: none;
	color: #FFFFFF;
	outline: none;
	text-align: center;
	font-size: 28px;
	margin: 20px 20px 20px 20px;
	padding: 20px 20px 20px 20px;
	width: 200px;
	cursor: pointer;
	box-shadow: 0 9px #58595b;
	
  }
  
.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
.button span:after {
	content: '\00bb'; /*the double arrow */
	position: absolute;
	font-size: 42px; /*size of the double arrow*/
	opacity: 0;
	top: -12px; /*positioning the arrow vertically. -12px is extremely close but not perfect. */
	right: -20px;
	transition: 0.5s;
  }
.button:hover {
	background-color: rgb(245, 103, 21);
  }

.button:active{
	box-shadow: 0 5px #3f4041;
	transform: translateY(4px);
  }

.button:hover span {
	padding-right: 25px;
  }
  
.button:hover span:after {
	opacity: 1;
	right: 0;
  }

.a1{
	background-image: url("../images/slots/seven.png");
}
.a2{
	background-image: url("../images/slots/cherry.png");
}
.a3{
	background-image: url("../images/slots/strawberry.png");
}
.a4{
	background-image: url("../images/slots/diamond.png");
}
.a5{
	background-image: url("../images/slots/clover.png");
}
.a6{
	background-image: url("../images/slots/star.png");
}
.a7{
	background-image: url("../images/slots/crown.png");
}

.chip-container {
	display: flex;
	flex-wrap: wrap;      /* naar volgende regel als het te vol is */
	justify-content: center; /* centeren horizontaal */
	gap: 10px;            /* ruimte tussen de chips */
	margin-bottom: 20px;  /* wat ruimte onder chips */
}

.pokerchip {
	width: 75px;   /* iets kleiner, zodat er meer naast elkaar passen */
	height: auto;
	cursor: pointer;
	outline: none;
	transition: transform 0.1s;
}

.pokerchip:active {
	transform: translateY(4px);
}

.payout-container {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(248, 127, 56, 0.9);
    padding: 10px 15px;
    border-radius: 12px;
    text-align: left;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    max-width: 180px;
    z-index: 1000;
}

.payout-container h2 {
    margin: 0 0 10px 0;
    font-size: 16px;
    text-align: center;
}

.payout-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.payout-item:last-child {
    margin-bottom: 0;
}

.payout-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-right: 3px; /* ruimte tussen dezelfde symbolen */
    border-radius: 4px;
}


	.home-icon{
            width: 40px; /* Pas de grootte aan */
            height: 40px;
            margin-left: 0px;
            vertical-align: middle;
        }

		.cart-icon {
            width: 30px; /* Pas de grootte aan */
            height: 30px;
            margin-left: 5px;
            vertical-align: middle;
        }

        .stats-icon {
            width: 30px; /* Pas de grootte aan */
            height: 30px;
            margin-right: 5px;
            vertical-align: middle;
        }


#menu {
  z-index: 1000;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #f8f8d7;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav1 {
  transition: 0.3s ease;
  display: none;
}

.nav1 ul {
  padding: 0 22px;
}

.nav1 li {
  list-style: none;
  padding: 12px 0;
}

.nav1 li a {
  color: #cd3f2b;
  font-size: 20px;
  text-decoration: none;
}

.nav1 li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 999;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #f8f8d7, #f8f8d7);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: #cd3f2b;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 600px;
  height: 540px;
  transform: translate(-60%,-30%);
}