/*Ugradjeni elementi*/
*{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    height: 1200px;
    /* background-color: rgb(23, 30, 41); */
    /* background-color: #1a2c38; */

}

  body {
    background-color: #080c17;
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.02) 0px, rgba(255, 255, 255, 0.02) 2px, transparent 2px, transparent 10px);
    background-size: 20px 20px;
  }

header{
    position: fixed;
    width: 100%;
    background-color: #0f212e;
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.02) 0px, rgba(255, 255, 255, 0.02) 2px, transparent 2px, transparent 10px);

    margin: 0;
    padding: 0;
    z-index: 5;
    height: 70px;
    box-shadow: 0 4px 8px rgba(107, 107, 107, 0.2); 
    display: flex;
    box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
    box-shadow: #6c99ff 0 4px 6px -1px, #6c99ff 0 2px 4px -1px;
    z-index: 10;

}
.headHolder{
    max-width: 1300px;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.walletHolder{
    display: flex;
    flex-direction: row;
    align-self: center;
    /* margin-left: 40%; */
    color: white;
    max-height: 50px;
    border-radius: 25px;
}
.walletAmount{
    border-radius: 0 5px 5px 0;
    padding: 10px;
    display: flex;
    align-items: center;    
    background-color: #171e29;
}
.walletName{
    border-radius: 5px 0 0 5px;
    padding: 10px;

    display: flex;
    /* justify-content: center; */
    align-items: center;    


    background-color: #148cff;
}


.logo{
    width: 110px;
    margin-top: 5px;
}
.logo:hover{
    cursor: pointer;

}
/*body*/
.mBody{
    padding-top: 70px;
    width:80%;
    margin: 0 auto;
    background-color: (23, 30, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 1000px; */

}

/*Slider*/

.slider{
    /* width:100%; */
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 100%;
    position: relative;
    /* display: flex; */
    /* align-content: center; */
    /* height: 260px;     */
    align-items: center;
}

.sliderWrapper{
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: calc((100% / 3) - 12px); */
    grid-auto-columns: calc((100% / 3) - 8px);
    gap: 16px;
    overflow-x: auto;
    /* overflow-x: hidden; */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    /* background-color: aquamarine; */

}
.sliderWrapper::-webkit-scrollbar {
    display: none;
    
}
.slide{
    scroll-snap-align: start;
    /* height: 340px; */
    /* min-height: 340px; */
    list-style: none;
    background: rgb(40, 49, 64);
    background: #171e29;
    background: #1a2e4c;
    background: #08162a;


    border: 1px solid #a5a5a5;
    border: 1px solid #6c99ff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    width: 98%;
    /* padding-bottom: 15px; */
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    aspect-ratio: 4 / 2; /* Omjer širine i visine, možeš podesiti po želji */
    height: auto; /* Automatski određuje visinu na osnovu omjera */
    height: 205px;
}

.slide .sButton
{
    width: 70%;
    height: 100%;
    border: 0;
    color: white;
    margin-top: 10%;
    border-radius: 5px;
    height: 40px;
    border: 1px solid white;

    align-self: center;
    
    background-color: rgb(28, 39, 56);
    background-color: #22539f;
    background-color: #27354a;
    border: 1px solid #6c99ff;
}
.slide .sButton:hover
{
    cursor: pointer;
}

.txt{
    background-color: aliceblue;
    width: 100px;
    height: 100%;
}
/* Test */

.slideL{
    height: 90%;
    color: white;
    width: 50%;
}

.slideLI{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10%;
    margin-left: 10px;
    
}
.slideLI *{
    margin-bottom: 4%;
}

.slideLI1I{
    font-family:monospace;
    color: rgb(0, 0, 0);
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 550;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
    font-size: 14px;
}

.slideLI2{
    font-size: 24px;
    font-weight: 700;
}
.slideLI4{
    margin-top: auto;

}

.slider:hover > .showable {
    display: block; 
}
.btn{
    border: none;
    color: grey;
    font-weight: 800;
    font-size: 26px;
    height: 40px;
    width: 30px;
    /* background: rgb(14, 23, 50); */
    background-color: transparent;
    display: none;
    border-radius: 20%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25 rem;
    transform: translateY(-50%);
}
.buttonLeft{
    left: -28px;



}
.buttonRight{
    right: -28px;



}
.slideR{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide .img {
    /* width: 145px; */
    /* height: 145px; */
    height: 70%;
    width: 70%;
    border-radius: 15%;
    border: 5px solid rgb(82, 78, 78);
    border: 4px solid #413f4c;
    border: 2px solid #6c99ff;

}
/* Stilizuj skrol traku */
::-webkit-scrollbar {
    width: 8px; /* Širina skrol trake */
    height: 8px; /* Visina skrol trake (ako je horizontalna) */
}

/* Stilizuj deo skrol trake koji se pomera */
::-webkit-scrollbar-thumb {
    background-color: #131b2e; /* Siva boja skrol dugmeta */
    border-radius: 4px; /* Blago zaobljeni ivici */
}

/* Stilizuj deo skrol trake koji je pozadina */
::-webkit-scrollbar-track {
    background-color: #06080e; /* Pozadina skrol trake */
    border-radius: 4px;
}
/* Search bar */
.searchBarHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px;
    width: 100%;

    border-radius: 10px;

    /* background-color:#0f212e; */
    background-color:#050b0f;

    margin-top:40px;
    height:60px;

    /* margin-bottom: 300px; */
    margin-bottom: 30px;

}

    .searchBar{
        filter: blur(-1px);
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        position: relative;
        align-items: center;
        /* z-index: 2; */
        /* position: absolute; */
    }
        .searchBarInner{
            display: flex;
            align-items: center;
            
            margin-left: 10px;
            padding-left: 10px;
            width: 22%;
            height: 40px;

            /* justify-content: center; */
            background-color: rgba(255, 255, 255, 0.034);
            border-radius: 10px;
        }
        .searchRow{
            display: flex;
            align-items: center;
            padding: 10px 20px;
            
        }

            .input-box{
                
                flex: 1;
                background: transparent;
                border: 0;
                outline: 0;
                font-size: 18px;
                /* color: #333; */
                color: #ffffff;
            }

            .buttonSearch{
                background: transparent;
                border: none;
                outline: none;
            }

            .fa-solid{
                width: 25px;
                color: #555;
                font-size: 22px;
                cursor: pointer;
            }
            ::placeholder{
                color: #555;
            }
        .result-box{
            position: absolute;
            /* background-color: #0f212e; */
            background-color: #050b0f;
            justify-content: center;
            width: 100%;
            min-width: unset;
            /* margin-left: 10px; */
            /* margin-right: 10px; */
            
            max-width: 1300px;
            height: 300px;
            /* transform: translateX(-20px) translateY(170px); */
            transform: translateY(40px);
            left: 0;
            border-radius: 0 0 15px 15px;

            display: none;
            flex-direction: column;
            /* align-items: center; */
            padding: 2px;
            padding-bottom: 30px;
            z-index: 5;

        }
        .result-box *{
            margin: 2px;
        }
        .result-box-games{
            display: flex;
            flex-direction: row;
            align-self: center;
            width: 98%;
            border: 2px solid #2d2e31;
            /* box-shadow: inset 2px 0px 25px 2px #6c99ff; */
            box-shadow: inset 2px 0px 25px 2px #000000;
            border-radius: 15px;
            padding: 4px;
            /* height: 200px; */
            /* max-height: 0px; */
            height: 0px;
            /* height: 0px; */

            transition: height 0.2s linear;
        }
        .maxHeight{
            height: 210px;
            /* max-height: 500px; */
        }

        .testing{
            background-color: rgb(130, 199, 130);
            position: absolute;
            top: 144px;
            /* justify-self: center; */
            /* left: 20px; */
            width:97%;
            align-self: center;
            height: 0px;
            z-index: -4;
            /* box-shadow: 2px 0px 25px 2px #6c99ff; */
            /* box-shadow: 2px 0px 95px 3px #0d2d76; */
            box-shadow: 2px 0px 15px 3px #0d2d76;
            border-radius: 15px;
            transition: box-shadow 0.2s linear;
        }
        .resultBoxText{
            /* border-bottom: 2px solid #2d2e31; */
            padding-bottom: 0px;
            color: white;
            align-self: center;
            /* box-shadow: #6c99ff 0 4px 6px -1px; */
            /* box-shadow: #6c99ff 0 8px 10px 2px; */
            /* box-shadow: inset 0 4px 6px -1px #6c99ff; */
        }
        .gsh{
            color: White;
            align-items: center;
            justify-content: center;
            font-size: 86px;
        }
          
/* .mBody{
}
.gameSliderHolder{
    filter: blur(2px);
    filter: opacity(0.1);
    
}
.slider{
    filter: blur(2px);
    filter: opacity(0.1);
    
} */

body{
    /* backdrop-filter: blur(20px); */
    /* filter: blur(1px); */
    /* background: rgba(0, 0, 0, 0.5); */
}




@media screen and (max-width: 1200px) {
    .sliderWrapper {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 700px) {
    .sliderWrapper {
        grid-auto-columns: 100%;

    }
}



.formHolder{
    background-color: #213743;
    box-sizing: border-box;
    min-width: 300px;
    width: 300px;
    display: flex;
    border-radius: 12px 0px 0px 0px;
}
.form{
    width: 300px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px; 
    gap: .75rem;
    display: flex;
    flex-direction: column;
    max-height: 630px;
    /* width: 100%;
    height: 100%; */
}

.bHolder{
    box-sizing: border-box;
    border-radius: 9999px;
    height: 50px;
    width: 100%; 
    display: flex;
    flex-direction: row;
    background-color: #0f212e;
    justify-content: space-between;
    align-items: center;
}


.plinkoButtons{
    box-sizing: border-box;

    border: none;
    color: white;
    border-radius: 9999px;
    width: 47%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    font-weight: 700;
}
.bManual{
    margin-left: 6px;
}
.bAuto{
    margin-right: 6px;
}
.hovColor{
    background-color: #2f4553;

}
.plinkoButtons:hover {
    background-color: #2f4553;

}

/* Bet amount */
.betAmountHolder{
    display: flex;
    flex-direction: column;

}
.betAmountText{
    padding-left: 1%;
    font-weight: 700;
    color: #a8bad3;
}
.betAmountInput{
    border-radius: .25rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 40px;
    /* padding: 1.5%; */
    border: 2px solid rgb(47, 69, 83);
    background-color: rgb(47, 69, 83);

}
.amountInput{
    color: white;
    padding-left: 8px;
    border: none;
    font-weight: 600;

    outline: none;
    box-shadow: none;
    flex:5;
    background-color: #0f212e;
}
.betAmountInput .btni{
    flex: 1;
    font-weight: 700;
    color:white;
    background-color: rgb(47, 69, 83);
    border: none;
}
.betAmountInput .bHalf{
    font-size: 18px;
    border-right: 1px solid wheat;
}
.betAmountInput .bDouble{
    font-size: 14px;
}

.riskInput{
    color: white;
    border-radius: .25rem;
    font-weight: 600;
    height: 40px;
    width: 100%;
    line-height: 1.5;
    padding: 0.5rem;
    background-color: #0f212e;
    border: 2px solid #2f4553;
    font-size: .875rem;
    padding: 4px;
}



.option{
    font-weight: 700;
    
}
/* Number of bets */

.numberOfBetsHolder{
    display: none;
    flex-direction: column;
}
.numberOfBetsInput{
    color: white;
    border-radius: .25rem;
    font-weight: 600;
    height: 40px;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: #0f212e;
    border: 2px solid #2f4553;
    font-size: .875rem;
    padding: 4px;
}

/* Button bet */
.buttonBox{
width: 100%;
}
.buttonBet{
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    /* background-color: #00e701; */
    background-color: #00c100;
    border: 3px solid rgb(0, 160, 0);
    width: 100%;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    gap: 0.5rem;
    transition: transform 0.2s ease, opacity 0.2s ease;

}
.buttonBet:hover{
    background-color: #00e701;
    border: 3px solid rgb(7, 210, 7);
    transform: translateY(-1px);

}
/*DISPALY GAME PART*/
.fullGame{
    /* margin-top: 2.5rem; */

    margin: 2.5rem auto 0;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    background-color: #213743;
    /* aspect-ratio: 1200/680; */
    border-radius: 15px;
}
.gameBody{
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    max-height: 630px;
    background-color: #0f212e;
}

.gameFoot{
    display: flex;
    min-width: 200px;
    min-height: 60px;
    margin-top: 3px;
    background-color: #0f212e;
    border-radius: 0 0 15px 15px;
}

.display *{
    /* border: 1px solid red; */
}

/* main display element */
.display{
    max-width: 900px;
    max-height: 630px;
    height: auto;/*?????????????*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* element indisde display that holds next 2*/
.displayInner{
    max-width: 720px;
    display: flex;
    flex-direction: column;

    
}
 /* element iniside displayInner that holds canvas */
.displayInnerCanvasHolder{
 
}

/* element inside displayInnerCanvasHolder */
.kanvas{
    height: auto;
    max-width: 100%; /* Sprečava prelazak izvan okvira */
    max-height: 100%;
    margin-top: 1rem;

    /* max-width: 720px;
    max-height: 540px; */
}
/* element inside displayInner that holds rectangles */
.displayInnerRectanglesHolder{
    /* min-height: 40px;
    width: auto;
    max-width: 100%; 
    max-height: 100%;
     */
     height: 1.8em;
     width: 100%;
     display: flex;
     justify-content: center;
     margin-bottom: 2rem;
}

.displayInnerRectangles{
    width: 85%;
    display: grid;
    grid-gap: 1%;
    height: 100%;
    position: relative;

}

.z{
    background: rgb(255, 0, 63);
    --shadow-color: #a60004;
    grid-row: 1;
    position: relative;
    /* cursor: help; */
    border-radius: 0.3em;
    text-align: center;
    /* animation-duration: .3s!important; */
    /* animation-timing-function: cubic-bezier(.18,.89,.32,1.28); */
    box-shadow: 0 0.2em 0 0 var(#a60004);
    /* animation: slideDown 0.5s ease-in-out; */
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.s{
    /* font-family: Arial, sans-serif; */
    /* font-family:'Times New Roman', Times, serif; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-weight: 700; */
    font-weight: 500;
    font-size: 0.8em;
}
.animation{
    animation: slideDown 0.2s ease-in-out;
}
@keyframes slideDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(15px); }
    100% { transform: translateY(0); }
}

.descriptionHolder{
    margin: 2.5rem auto 0;
    width: 100%;
    max-width: 1200px;
    background-color: #0f212e;
    border-radius: 25px;
    display: flex;

}


.cover{
    padding: 20px;
    width: 250px;
    min-width: 250px;
    max-height: 310px;
    border-radius: 35px;
}

.textToTheRight{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    /* text-align: justify; */
    max-width: 860px;
    font-size: 18px;
    padding-right: 10px;

}
.text0{
    color: lightgrey;
    padding-top: 5%;
    font-weight: 600;
}
.text1{
    color: #b1bad3;
    padding-top: 2%;
    /* font-size: 20px; */
}
.text2{
    color: #b1bad3;
    padding-top: 10px;
    /* font-size: 20px; */
}
.additionalDescription{
    padding-left: 20px;
    max-width: 1100px;
    /* text-align: justify; */
    
}
.underText{
    color: #b1bad3;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;

    max-width: 760px;
    font-size: 18px;
    padding-bottom: 20px;
}
/* .ttestt{
    position: absolute;
    height: 68%;
    width: 20px;
    background-color: #08162a;
    border-radius: 15px;
    align-self: center;
    box-shadow: 0px 2px 4px 4px green;
    right: 30px;
    margin-left: 10px;
} */
/* awdawddaw */
.gameSliderHolder{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    max-width: 1300px;
    width: 100%;
    height: 250px;
    margin-top: 40px;
    background-color:#0f212e;
    background-color:#050c12;
    border-radius: 10px;
    padding-top: 10px;
    overflow: hidden;
}

.sliderTitle{
    color: rgb(230, 228, 228);
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 2px;
    /* font-size: 18px; */
    font-family:monospace;
    margin-left: 22px;
    margin-right: 22px;;
    border-bottom: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid #6c99ff;

}

.gameSlider{
    margin-left: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 10px; 
    /* width: 50%; */
    /* grid-auto-columns: calc((100% / 8) - 8px); */
    grid-auto-columns: calc((100% / 4) - 8px);
    /* min-width: 625px; */
    gap: 8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    overflow-y: visible;
    padding: 10px;
    overflow: hidden;
    width: 50%;

}
.gameSlider::-webkit-scrollbar {
    display: none;
    
}
.frontCover{
    width: 150px;
    min-width: 150px;
    max-height: 310px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Dodaje tranziciju */
    /* border: 2px solid#6c99ff; */
}

.frontkaver{
    width: 150px;
    min-width: 150px;
    height: 10px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    /* overflow: hidden; */
    clip-path: inset(0% 0% 90% 0%); /* Početno vidljivo samo 10% slike */
    /* transition: clip-path 2s linear; */
    transition: height 0.2s linear;

    /* transition: transform 0.3s ease, box-shadow 0.3s ease; Dodaje tranziciju */
}

.frontkaverExpand{
    height: 190px;
    clip-path: inset(0% 0% 0% 0%); /* Početno vidljivo samo 10% slike */

}


.frontCover:hover{
    transform: translateY(-4px); /* Pomera element na gore za 3px */
    cursor: pointer;
    box-shadow: 4px 4px 5px rgba(8, 22, 37, 0.938); /* Efekat svetlosti */
}
.game1{
    /* width: fit-content;
    display: inline-block; */
}

.display2{
    max-width: 900px;
    max-height: 630px;
    height: auto;/*?????????????*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    padding: 10px;
}





.minesHolder{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 kolona */
    gap: 12px;
    width: 100%;
    max-width: 600px;
    margin: 10px;
    /* margin-bottom: 10px;
    margin-top: 10px; */
}

.mineHolder{
    border-radius: .5rem;
    position: relative;
    width: 100%; 
    padding-top: 100%; /* Obezbeđuje kvadratni oblik */
    background-color: #0f1e364b;
    /* overflow: hidden; */
    overflow: visible;
}



.mineButton, .mineImage{
    position: absolute;  /* Apsolutno pozicioniranje */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.mineButton{
    background-color: #1b384b;
    border: none;
    border-radius: .5rem;
    z-index: 2;
    box-shadow: 0 5px 0px #25455a;
}
.mineButton:hover{
    background-color: #235f87;
    transform: translateY(-3px);    
}
.mineImage{
    /* background-image: url('ruby.png');  */
    background-size: cover;
    opacity: 0;
    transform: scale(0);
}

.mineImage.end{
    opacity:0.7;
    transform: scale(0.6);
}
.mineButton.end{
    background-color: transparent;
    box-shadow: none;
}

.mineButton.animating {
    transform: scale(1.1); /* Povećanje dugmeta */
}
  
.mineButton.hidden {
opacity: 0; /* Nestani dugme */
transform: scale(0); /* Smanji ka centru */
}

.mineImage.visible{
    opacity:1;
    transform: scale(1);
}

.mineImage.animating{
    opacity: 1;
    transform: scale(1.1);
}



.totalProfitDisplayHolder{

    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    /* height: 40px; */
    /* padding: 1.5%; */
    display: none;
    
}
.totalProfitText{
    font-weight: 600;
    color: #a8bad3;
}

.totalProfitDisplay{
    height: 40px;
    border-radius: .25rem;
    color: white;
    padding-left: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    outline: none;

    box-shadow: none;
    /* flex:5; */
    background-color: #0f212e;
    display: flex;
    align-items: center;
    border: 2px solid rgb(47, 69, 83);
    /* background-color: rgb(47, 69, 83); */
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buttonPickRandom{
    display: none;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    /* background-color: #00e701; */
    background-color: #c346d4;
    border: 3px solid rgb(112, 45, 112);
    width: 100%;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    gap: 0.5rem;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.buttonPickRandom:hover{
    background-color: #d85cdc;
    border: 3px solid rgb(140, 58, 140);
    transform: translateY(-1px);

}

.gameBodyKeno{
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    max-height: 650px;
    background-color: #0f212e;
}

.display3{
    max-width: 900px;
    max-height: 650px;
    height: auto;/*?????????????*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    padding: 10px;
}



.displayLower1, .displayLower2{
    max-width: 600;
    width: 100%;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    background-color: #1b384b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.displayLower1{
    background-color: #0f212e;
}

.dl1{
    flex: 1;  /* Svaki child zauzima jednak deo */
    margin: 0.5%;  /* Razmak između child elemenata */
    height: 100%;
    /* font-size: 0.1vw; */
    background-color: #1b384b;
}

.dl2{
    display: flex;
    /* margin: 0.5%; */
    
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.dl2.lighten{
    background-color: #366482;

}

.dl2Txt{
    color: white;
    margin-right: 0.2vw;
}

.lowerDlHolder{
    display: flex;
    object-fit: contain;

}
.dlImg{
    max-width: 26px;
    object-fit: contain;
    opacity: 30%;
    transition: transform 0.2s ease;
}
.dlImg.scale{
    transform: scale(1.3);
}

.displayLower2 .dl1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
}

.displayLower1 .dl1{
    font-size: 1vw;
    border-radius: 5px;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kenoTilesHolder{
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 5 kolona */
    gap: 12px;
    width: 100%;
    max-width: 780px;
    margin: 10px;
}
.kenoTileHolder{
    border-radius: .5rem;
    
    position: relative;
    width: 100%; 
    /* padding-top: 100%; Obezbeđuje kvadratni oblik */
    aspect-ratio: 1/1;
    background-color: #0812224b;
    overflow: visible;
    box-sizing: border-box; /* Obezbeđuje da se border uračuna u dimenzije */
/* Tranzicija za širinu bordera */
    transition: border-width 0.1s ease, font-size .5s ease-in-out;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(70, 60, 60);
    font-size: 0px;
    font-weight: 600;
    /* transition: font-size 1s  ease-in-out; */
}

.kenoTileHolder.borderadd{
    /* border: 2px solid red; */
    /* border-radius: 12px; */
    /* background: radial-gradient(circle, rgb(111, 102, 102), rgb(180, 157, 182), rgb(255, 150, 241)); */
    /* outline: 2px solid transparent; */
     

    /* background-color: pink; */
    

}

.increaseFont{
    font-size: 1.5vw;
    /* opacity: .5; */
}

.kenoTileButton{
    position: absolute;  /* Apsolutno pozicioniranje */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, opacity 0.2s ease;
    background-color: #1b384b;
    border: none;
    border-radius: .5rem;
    z-index: 2;
    box-shadow: 0 5px 0px #25455a;

    
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
}

.kenoTileButton:hover{
    background-color: #235f87;
    transform: translateY(-3px);    
}
.kenoTileButtonSelected{
    background-color: #cfb234;
    box-shadow: 0 5px 0px #7f6a13;

}
.kenoTileButtonSelected:hover{
    background-color: #f4d652;

}

.kenoTileButton.animating {
    transform: scale(1.1); /* Povećanje dugmeta */
}
.kenoTileButton.hidden {
    opacity: 0; /* Nestani dugme */
    transform: scale(0); /* Smanji ka centru */
}

.kenoTileImage{
    position: absolute;  /* Apsolutno pozicioniranje */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease, opacity 0.2s ease;
    background-size: cover;
    opacity: 0;
    transform: scale(0);
}
.kenoTileImage.visible{
    opacity:1;
    transform: scale(1.35);
}

.kenoTileImage.animating{
    opacity: 1;
    transform: scale(1) rotate(30deg);
}

.kenoButtonAutoSelect{
    color: white;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    /* background-color: #00e701; */
    background-color: #294b62;
    border: 3px solid #21323c;
    width: 100%;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    gap: 0.5rem;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.kenoButtonAutoSelect:hover{

    background-color: #355f7c;
    border: 3px solid #213541;
    transform: translateY(-1px);
}

.displayLower2 label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:whitesmoke;
    text-align: center;
    flex: 1;
    font-weight: 500;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    opacity: 70%;
    width: 100%;
}

.footInner{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}
.screenOptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 10%;
}

.butSettings{
    outline: none;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
}

.bLogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 83%;

    /* width: 100%;
    margin: 0;
    padding: 0;
    border: 0; */
}

.bLogo{
    width: 100px;
    opacity: 20%;
}
.fairnessHolder{
    flex: 0 0 7%;

}
.fairnessHolder label{
    color: rgba(177,186,211);
    font-weight: 700px;
}

.coverAndRText{
    display: flex;
    flex-direction: row;
}

.descriptionHolder{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin-bottom: 50px;
    height: 100%;
}

.tbdDiv{
    width: 100%;
    height: 600px;
    background-color: #0f212e;
    border-radius: 25px;
    margin-top: 20px;
    max-width: 1300px;
    background-image: url(./GR.png);
    background-size:contain;
    margin-bottom: 40px;;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.tt{
    font-size: 30px;
    color: white;
    font-weight: 600px;
    margin-top: 20px;
    text-align: center;
}